.card-body-container{
    background: linear-gradient(135deg, #8bc3eb, #949be2);
    color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.card-body{
background: linear-gradient(96deg, #8bc3eb, #949be2);
    color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
